// .main_container {
//     width: 600px;
//     // height: 100px;
    
.btn {
    padding-inline: 3.5rem;
    border:none;
    &:active {
        background-color:  hsl(158, 46%, 17%);
    }
}

//     .product_img {
//         width: 300px;
//         // height: 350px;
//     }
// }


// @media screen and (max-width: 675px) {
//     .main_container {
//         width: 300px;
//         display: flex;
//         flex-direction: column;
    
//         .product_img {
//             // width: 150px;
//             // width: 150px;
//         }
//         .btn {
//             padding-inline: 2rem;
//         }
//     }
// }